<div id="home" class="wrapper" data-ng-controller="HeaderController">
	<div class="navi navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="#menu">
					<button class="navbar-toggle" type="button" data-effect="st-effect-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</a>
				<a href="/#!/" class="navbar-brand">Civiception</a>
			</div>
			<nav id="navbar" class="collapse navbar-collapse pull-right hidden-xs" collapse="!isCollapsed" role="navigation">
				<ul class="nav navbar-nav navbar-right">
				<!-- <ul class="nav navbar-nav navbar-right" data-ng-if="menu.shouldRender(authentication.user);"> -->
					<li data-ng-repeat="item in menu.items | orderBy: 'position'" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: $uiRoute}" >
						<div dropdown="item.menuItemType === 'dropdown'">
					<!-- <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'"> -->
							<a ng-switch-when="dropdown" class="dropdown-toggle drop" role="button" aria-expanded="false">
								<span data-ng-bind="item.title"></span>
								<b class="caret"></b>
							</a>
							<ul ng-switch-when="dropdown" class="dropdown-menu" role="menu">
								<li data-ng-repeat="subitem in item.items | orderBy: 'position'" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
								<!-- <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}"> -->
									<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
								</li>
							</ul>
							<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
						</div>
					</li>
					<li class="dropdown" ng-class="{active: ($uiRoute)}"data-ng-if="!authentication.user">
						<div dropdown>
							<a class="dropdown-toggle drop" role="button" aria-expanded="false">
								<span>Register/Login</span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li ui-route="/signup" ng-class="{active: $uiRoute}">
									<a href="/#!/signup">Register</a>
								</li>
								<li ui-route="/signin" ng-class="{active: $uiRoute}">
									<a href="/#!/signin">Login</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="dropdown" ng-class="{active: ($uiRoute)}" data-ng-if="authentication.user">
						<div dropdown>
							<a class="dropdown-toggle drop" role="button" aria-expanded="false">
								<span data-ng-bind="authentication.user.displayName"></span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="/#!/settings/profile">Edit Profile</a>
								</li>
								<li>
									<a href="/#!/settings/accounts">Manage Social Accounts</a>
								</li>
								<li data-ng-show="authentication.user.provider === 'local'">
									<a href="/#!/settings/password">Change Password</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/auth/signout">Signout</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
