<section data-ng-controller="HomeController">
	<!-- <div id="main-img" class="text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source Full-Stack Solution For MEAN Applications
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>
	</div> -->
	<div class="container searches">
		<div class="row">
			<div class="col-xs-12 col-lg-12 text-center p-padding">
				<h1 class="section-title">Find a Citation</h1>
				<p>Use one of the 3 search forms below to find a citation</p>
			</div><!-- col-xs-12 -->
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4  text-left citation-search">
				<h2>By Citation Number</h2>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. </p> -->

				<form name="citationSearch" id='citation_search' method="post" action='php/email.php'>
					<div class="form">
						<div class="form-group">
							<input type="text" class="form-control" name="citationNumber" id="citationSearchInputNumber" placeholder="Citation Number" >
						</div>
					</div>
				</form>

			</div>
			<div class="col-xs-12 col-md-4 text-left citation-search">
				<h2>By Driver's License</h2>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. </p> -->

				<form name="licenseSearch" id='license_search' method="post" action='php/email.php'>
					<div class="form">
						<div class="form-group">
							<input type="text" class="form-control" name="licenseNumber" id="licenseSearchInputNumber" placeholder="Dirver's License Number" >
						</div>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-md-4 text-left citation-search">
				<h2>By Name</h2>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. </p> -->

				<form name="nameSearch" id='name_search' method="post" action='php/email.php'>
					<div class="form">
						<div class="form-group">
							<input type="text" class="form-control" name="firstName" id="nameSearchInputFirst" placeholder="First Name" >
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="lastName" id="nameSearchInputLast" placeholder="Last Name" >
						</div>
					</div>
				</form>

			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<input type="submit" class="col-xs-12 btn btn-lg costom-btn" value="Search" >
			</div>
		</div>


	</div>

</section>
