.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.mm-page.mm-slideout .content {
	margin-top: 80px;
}
#main-img {
	background: url(../../../vendor/img/counting-bg.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;
}
#main-img:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.65);
}
.citation-search {
	margin-top: 50px;
	padding-top: 15px;
	border-right: 1px solid #ccc;
	padding-bottom: 15px;
	min-height: 200px;
}
.citation-search:last-child {
	border-right: none;
}

.citation-search form {
	padding-top: 15px;
}

.searches {
	padding: 100px;
}
