<section data-ng-controller="TicketController" class="container">
	<div ng-repeat="citation in model.citations">
		<div class="row">
			<span class="col-xs-6">{{ citation.citation_number }}</span>
			<span class="col-xs-6 text-right">{{ citation.citation_date }}</span>
		</div>

		<div class="row">
			<span class="col-xs-3">{{ citation.first_name }}</span>
			<span class="col-xs-3 text-center">{{ citation.last_name }}</span>
			<span class="col-xs-3 text-center">{{ citation.date_of_birth }}</span>
			<span class="col-xs-3 text-right">{{ citation.drivers_license_number }}</span>
		</div>

		<div class="row">
			<span class="col-xs-4">{{ citation.defendant_address }}</span>
			<span class="col-xs-4 text-center">{{ citation.defendant_city }}</span>
			<span class="col-xs-4 text-right">{{ citation.defendant_state }}</span>
		</div>

		<div class="row">
			<!-- Link to create a calendar event? -->
			<span class="col-xs-4">{{ citation.court_date }}</span>
			<!-- Link to google maps for the address? -->
			<!-- Get directions link to path from the defendants address as well? -->
			<span class="col-xs-4 text-center">{{ citation.court_location }}</span>
			<span class="col-xs-4 text-right">{{ citation.court_address }}</span>
		</div>

		<div class="row">
			<h3 class="col-xs-12">Violations</h3>
		</div>
		<div ng-repeat="violation in model.violations | filter : {citation_number: model.citationNumber}">
			<hr>

			<div class="row">
				<span class="col-xs-4">{{ violation.violation_number }}</span>
				<span class="col-xs-4 text-center">{{ violation.violation_description}}</span>
				<!-- Create a warning icon that will link through to resolve the warrant -->
				<span class="col-xs-4 text-right">{{ violation.warrant_status }}</span>
			</div>

			<div class="row">
				<span class="col-xs-4">{{ violation.status }}</span>
				<span class="col-xs-4 text-center">{{ violation.status_date }}</span>
				<span class="col-xs-4 text-right">{{ violation.warrant_number }}</span>
			</div>

			<div class="row">
				<!-- Add a filter to interpret this nicely for the user -->
				<span class="col-xs-6">{{ violation.fine_amount }}</span>
				<span class="col-xs-6 text-right">{{ violation.court_cost }}</span>
				<!-- Add a link to the pay online tool -->
			</div>

		</div>
	</div>
	<div class="row">
		<!-- Add a link to pay all violations -->
	</div>
</section>
