<section data-ng-controller="TicketController" class="container">
	<div class="row">
		<div class="col-xs-12 col-lg-12 text-center p-padding">
			<h1 class="section-title">Citation Results</h1>
		</div><!-- col-xs-12 -->
	</div>
	<accordion close-others="true">
		<accordion-group ng-repeat="citation in model.citations | startFrom:(model.currentPage-1)*model.itemsPerPage | limitTo:model.itemsPerPage">
			<accordion-heading>
				<div class="row text-left" ng-class="{'warrant': hasWarrant(citation), 'amount-due': hasOutstandingBance(citation) && !hasWarrant(citation), 'service': isEligibleForService(citation)}">
					<div class="col-md-3 col-sm-12">
						<i class="fa fa-warning" ng-if="hasWarrant(citation)"></i>
						<i class="fa fa-info-circle" ng-if="isEligibleForService(citation) && !hasWarrant(citation)"></i>
						<small class="cit-sum">Citation Number:</small>{{ citation.citation_number }}
					</div>
					<div class="col-md-3 col-sm-12">
						<small class="cit-sum">Defendant:</small>{{ citation.first_name }} {{ citation.last_name }}
					</div>
					<div class="col-md-3 col-sm-12">
						<small class="cit-sum">Address:</small>{{ citation.defendant_city }}, {{ citation.defendant_state }}
					</div>
					<div class="col-md-3 col-sm-12 text-right" ng-if="hasOutstandingBance(citation)">
						<small class="cit-sum">Amount Due:</small><span class="cost">{{getBalance(citation) | currency}}</span>
						<a ng-if="citation.pay_online" ng-click="goToWebsite($event, citation)" href="javascript.void(0);">Pay Now</a>
					</div>
				</div>
			</accordion-heading>
			<div class="row">
				<!-- <span class="col-xs-6">Court Date:  <span class="h3">{{ citation.court_date }}</span></span> -->
			  <span class="col-xs-12 text-right"><small class="cit-sum">Citation Date:</small>{{ citation.citation_date }}</span>
			</div>
			<br>
			<div class="row">
			  <span class="col-xs-6"><small class="cit-sum">Defendant Name:</small>{{ citation.first_name }} {{ citation.last_name }}</span>
			  <span class="col-xs-6 text-right"><small class="cit-sum">Court Date:</small>{{ citation.court_date }}</span>
			</div>
			<div class="row">
			  <span class="col-xs-6"><small class="cit-sum">Defendant Address:</small>{{ citation.defendant_address }}</span>
			  <span class="col-xs-6 text-right"><small class="cit-sum">Court Location:</small><a ng-href="#!/municipality/{{ citation.court_location }}">{{ citation.court_location }}</a></span>
			</div>
			<div class="row">
			  <span class="col-xs-6"><small class="cit-sum">Defendant City/State:</small>{{ citation.defendant_city }}, {{ citation.defendant_state }}</span>
			  <span class="col-xs-6 text-right"><small class="cit-sum">Court Address:</small><a ng-href="https://www.google.com/maps/place/{{ citation.court_address }} {{ citation.court_location }}">{{ citation.court_address }}</a></span>
			</div>
			<div class="row">
			</div>
			<div class="row">
			  <span class="col-xs-6"><small class="cit-sum">Defendant DOB:</small>{{ citation.date_of_birth }}</span>
				<a class="col-xs-6 text-right" ng-href="https://maps.google.com?saddr=Current+Location&daddr={{ citation.court_address }} {{ citation.court_location }}">Get Directions</a>
			</div>
			<div class="row" ng-if="auth.user">
			  <span class="col-xs-6"><small class="cit-sum">Defendant License:</small>{{ citation.drivers_license_number }}</span>
			</div>

			<div class="row violation-header" ng-if="citation.violations">
			  <h2 class="col-xs-12">Violations</h3>
			</div>
			<div ng-repeat="violation in citation.violations | filter : {citation_number: model.citationNumber}">
			  <hr>

			  <div class="row">
			    <span class="col-xs-4"><small class="cit-sum">Violation Number:</small>{{ violation.violation_number }}</span>
			    <span class="col-xs-4"><small class="cit-sum">Violation:</small>{{ violation.violation_description}}</span>
			    <span class="col-xs-4 text-right" ng-if="getTotal(violation) > 0"><small class="cit-sum">Total Fine:</small><span class="cost">{{ getTotal(violation) | currency }}</span></span>
			  </div>

			  <div class="row warrant" ng-if="hasWarrantViolation(violation)">
			    <span class="col-xs-6">
						<small class="cit-sum">Warrant Number:</small>{{ violation.warrant_number }}
					</span>
			    <span class="col-xs-6 text-right">
						<small class="cit-sum">Warrant Issued:</small>{{ violation.status_date }}
					</span>
			  </div>

			</div>
		</accordion-group>
	</accordion>

	<div class="row">
		<div class="col-xs-12 text-center">
			<pagination boundary-links="true" total-items="model.citations.length" ng-model="model.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="model.maxSize" rotate="false" items-per-page="model.itemsPerPage"></pagination>
		</div>
	</div>
</section>
